<%- include('./includes/head.ejs') %>
<div class="panel-body">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12" >
            <div class="alert alert-info text-center">
            <h3>Welcome to Emailgaming</h3> 
            <hr />
            <i class="fa fa-info-circle fa-4x"></i>
            <p>
                Nice you to visit our site.
            </p>
            </div>
        </div>            
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                Our Games
                </div>
                <div class="panel-body">
                    <% for(let i=0; i<games.length; i++) { %>
                        <div class="well">
                            <div class="form-group">
                                <label><%= games[i].name %></label>
                                <p>
                                    <%= games[i].description %>
                                </p>
                                <div class="row">
                                    <a href="/start_game" class="btn btn-info col-md-offset-6 col-md-4">Start Game</a>
                                </div>
                            </div>
                            <!-- <% if(i != games.length-1) { %>
                                <hr/>
                            <% } %> -->
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/game_board.js"></script>
<%- include('./includes/end.ejs') %>